@charset "utf-8" ;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

:root {
   --cor0: #c5ebd6;
   --cor1: #83e1ad;
   --cor2: #3ddc84;
   --cor3: #2fa866;
   --cor4: #1a5c37;
   --cor5: #063d1e;

   --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
   --fonte-destaque: 'Bebas Neue', sans-serif;
   --fonte-android: 'Android', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00a0\1f517';
}


header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 100px;
    text-align: center;
    padding: 30px;
}
header > h1 {
    color: #ffffff;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
    margin: auto;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition-duration: .5s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
   
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h2 {
    color: var(--cor4);
    font-size: 1.5em;
    font-weight: normal;
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor2), transparent 70%);
    text-indent: 5px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    
    
}

main a {
    text-decoration: none;
    font-weight: bold;
    padding: 2px 5px;
    background-color: var(--cor1);
    color: var(--cor5);
}

main a:hover {
    text-decoration: underline;
    background-color: #2fa866;
}
main img {
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}

div.video {
    margin: 0px -20px 30px -20px;
    background-color: var(--cor5);
    padding: 10px;
    position: relative;
    padding-bottom: 52%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);
    
}
aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside ul {
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00a0';
}

footer {
    background-color: var(--cor4);
    padding: 5px;
    text-align: center;
    font-size: .8em;
    color: white;

}

footer a {
    text-decoration: none;
    font-size: bolder;
    color: white;

}

footer a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}